*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: whitesmoke;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.main{
    display: grid;
    grid-template-columns: 2fr 8fr;
    grid-template-rows: 1fr 6fr 3fr;
    height: 100vh;
    width: 100vw;
    padding: 2rem;
    /* grid-gap: 1rem; */

    grid-template-areas: "addTasks dayList"
                        "taskList checkBox"
                        "graphHeading ProgressChart";

}
.addTasks{
    grid-area: addTasks;
    background-color: antiquewhite;
    border-radius: 1rem;
}

.dayList{
    grid-area: dayList;
    background-color: aquamarine;
    border-radius: 1rem;
}

.taskList{
    grid-area: taskList;
    background-color: rgb(39, 38, 38);
    border-radius: 1rem;
}
.checkBox{
    grid-area: checkBox;
    background-color: beige;
    border-radius: 1rem;
}
.graphHeading{
    grid-area: graphHeading;
    background-color: bisque;
    border-radius: 1rem;
}
.ProgressChart{
    grid-area: ProgressChart;
    background-color: black;
    border-radius: 1rem;
}


/* addTasks */
.inputBox .inputForm{
    display: flex;
    gap: 1rem;
    padding: 1rem;
    width: 100%;
    padding-top: 20px;
}

.input{
    flex-grow: 1;
    padding: 15px;
    border-radius: 10px;
    border: none;
    background-color: rgb(0, 0, 0);
}
.btn{
    flex-grow: auto;
    padding: 15px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 10px;
    border: none;
    background-color: black;
}


/* taskList */
.tasks{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding: 1rem;

}
.listItems{
    font-size: large;
}
